* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-color: #99fcff;
    background-image:
        radial-gradient(at 68% 84%, hsla(260, 58%, 27%, 1) 0px, transparent 50%),
        radial-gradient(at 16% 46%, hsla(340, 86%, 49%, 1) 0px, transparent 50%),
        radial-gradient(at 83% 27%, hsla(235, 85%, 46%, 1) 0px, transparent 50%),
        radial-gradient(at 62% 4%, hsla(9, 90%, 45%, 1) 0px, transparent 50%),
        radial-gradient(at 8% 20%, hsla(325, 85%, 47%, 1) 0px, transparent 50%),
        radial-gradient(at 51% 67%, hsla(199, 84%, 41%, 1) 0px, transparent 50%),
        radial-gradient(at 34% 78%, hsla(289, 85%, 29%, 1) 0px, transparent 50%);
}

.logo {
    width: 300px;
    display: inline-block;
    margin: 150px 40px 30px 60px;
    float: left;
}

main {
    width: 350px;
    height: 650px;
    border-radius: 20px;
    background: #F4F4F4;
    margin: 25px 70px 25px 0 ; 
    padding: 25px 15px 18px;
    display: inline-block;
    float: right;
}

label {
    color: #777;
    font-size: 14px;
}

select,
input {
    border-radius: 4px;
    border: 1px solid #BBB;
    height: 35px;
    width: 100%;
    background: #FFF;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}


#convert-button {
    border-radius: 5px;
    background: #772FD3;
    width: 100%;
    border: none;
    height: 35px;
    color: #ffff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

#convert-button:hover {
    opacity: 0.8;
}

#convert-button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    margin-top: 25px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.arrow {
    margin: 10px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.Logo-real {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.currency {
    color: #777;
    font-size: 14px;
}

.currency-img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.currency-value, .currency-value-to-convert {
    color: #555;
    font-size: 17px;
    font-weight: 700;

}

@media screen and (max-width: 500px) {
   
    body {
        background-color: #99fcff;
        background-image:
            radial-gradient(at 68% 84%, hsla(260, 58%, 27%, 1) 0px, transparent 50%),
            radial-gradient(at 16% 46%, hsla(340, 86%, 49%, 1) 0px, transparent 50%),
            radial-gradient(at 83% 27%, hsla(235, 85%, 46%, 1) 0px, transparent 50%),
            radial-gradient(at 62% 4%, hsla(9, 90%, 45%, 1) 0px, transparent 50%),
            radial-gradient(at 8% 20%, hsla(325, 85%, 47%, 1) 0px, transparent 50%),
            radial-gradient(at 51% 67%, hsla(199, 84%, 41%, 1) 0px, transparent 50%),
            radial-gradient(at 34% 78%, hsla(289, 85%, 29%, 1) 0px, transparent 50%);
    }

   .logo {

        width: 200px;
        display: block;
        margin: 10px 70px 10px 70px;
        align-items: center;
    
   } 
   
   main {

        width: 200px;
        border-radius: 20px;
        background: #F4F4F4;
        margin: 25px 125px 30px 0 ; 
        padding: 25px 15px 18px;
        display: block;
        align-items: center;
       
    }
   
   
   
    section {

        overflow: scroll;
    }

}
  